.closePopover {
    font-size: 40px;
    float : right;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    text-decoration: none;
}
.closePopover:hover {
    color: #000000;
    text-decoration: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
}

.close-icon {
    float: right;
}

.close-icon:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
}

.popover-inner {
    padding:10px;
}

.popover-inner > header > h3 {
    clear:both;
    text-align:center;
}