.modify-modal > .modal-dialog > .modal-content,
.modify-modal > .modal-dialog > .modal-content > .modal-content {
    width:100%;
    height:100%;
}
.modify-modal > .modal-dialog > .modal-content > .modal-content > .modal-header {
    position:absolute;
    top:0;
    width:100%;
    height:3.5em;
}
.modify-modal > .modal-dialog > .modal-content > .modal-content > .modal-body {
    position:absolute;
    top:3em;
    bottom:4em;
    width:100%;
    overflow:auto;
    padding:10px;
}
.modify-modal > .modal-dialog > .modal-content > .modal-content > .modal-errors {
    position:absolute;
    top:3em;
    left:0px;
    right:0px;
    height:4.5em;
    color:red;
    border:2px solid red;
    background-color:#FFCCCC;
    overflow:auto;
    font-weight:bold;
    text-align:center;
    margin:5px;
}
.modify-modal > .modal-dialog > .modal-content > .modal-content > .modal-body.modal-has-errors {
    position:absolute;
    top:8em;
    bottom:4em;
    width:100%;
    overflow:auto;
}
.modify-modal > .modal-dialog > .modal-content > .modal-content > .modal-footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:4em;
}

table.modal-errors-table {
    padding:0px;
    margin:0px auto;
    border:0px;
}
/*
table.modal-errors-table > tbody > tr :hover {
    color:#FF2222;
}
table.modal-errors-table > tbody > tr > td {
    padding:0px 10px;
    margin:0px;
    text-align:left;
}
*/
.error-header {
    color:red;
    font-weight:bold;
}

.highlight-error,
.panel-default > .highlight-error {
    background-color:#FFCCCC !important;
    border:3px solid red !important;
}
.table-bordered > tbody > tr.highlight-error,
.line-item-subgrid-table > tbody > tr.highlight-error {
    background-color:#FFCCCC !important;
}
.table-bordered > tbody > tr.highlight-error > td,
.line-item-subgrid-table > tbody > tr.highlight-error > td {
    background-color:#FFCCCC !important;
    border:0px !important;
}

.table-bordered > tbody > tr.highlight-removed > td.ignore-strike-through,
.line-item-subgrid-table > tbody > tr.highlight-removed > td.ignore-strike-through {
    text-decoration:none !important;
}

.highlight-added {
    background-color:#CCFFCC;
}

.highlight-modified {
    background-color:#FFFF99;
}

tr.highlight-removed > td {
    text-decoration:line-through;
    color:#888888;
    background-color:#EEEEEE;
}

.ignore-strike-through,
.ignore-strike-through:before {
    text-decoration:none !important;
}

.icon-add:before {
    content: "\f055";
    color:#32CD32;
}

.icon-remove:before {
    content: "\f057";
    color:#FF0000;
}

.icon-undo:before {
    content: "\f0E2";
    color:#008000;
}

.clickable {
    cursor:pointer;
}

.clickable:hover {
    font-weight:600;
}

.remove {
    color:#d9534f;
}

.error-message {
    color:red;
}

.select-page {
    width:2em;
}

.txtInputModifyTool {
    width:5em;
}

.selectInputModifyTool {
    width:4em;
}

.modify-popover {
    max-width:1000px;
}

.popover-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.keyInfoModify {
  display: inline-block;
  float: left;
  clear: left;
  width: 350px;
  text-align: left;
  font-size: 15px;
}

.inputKeyInfoModify {
  display: inline-block;
  float: left;
  font-size: 14px;
  width: 140px;
  margin-bottom: 3px;
}

.inputKeyInfoDate {
  display: inline-block;
  line-height: normal !important;
  float: left;
  font-size: 14px;
  width: 140px;
  margin-bottom: 3px;
}
.displayOnly{
  display: inline-block;
  float: left;
  clear: left;
  width: 480px;
  text-align: left;
  font-size: 15px;
  margin-left: 20px;
  margin-bottom: 3px;
}

/* label for the manage recipient remaining */
.label {padding: 0.2em 1em 0.4em; font-size: 90%; font-weight: normal; }

.errors.ng-hide-add-active,
.errors.ng-hide-remove-active {
    transition: 1s linear all;
}

